body{
    margin: 20px 150px;
    font-family: 'Roboto', sans-serif;
}
.content-block{
    padding-top: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    text-align: center;
    margin: 0;
}
.item {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
img{
    float: left;
    margin: 20px;
    width: 60px;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}